<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img
      src="assets/ps-logo.png"
      alt=""
      srcset=""
      width="140px"
      height="32px"
    >
  </div>
  <div class="menu-bar__item">
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/alessandra-vieira-934ba1279/">LINKEDIN</a>
      </li>
      <li>
        <a href="https://www.instagram.com/cas01sie/">INSTAGRAM</a>
      </li>
      <li>
        <a href="https://github.com/Cassie91">GITHUB</a>
      </li>
    </ul>
  </div>
</div>
